@model FizzBuzzMVC.Models.FizzBuzz


<div class="container col-xxl-8 px-4 py-5 mt-5">
  <div class="row gy-2 h-100 row-cols-md-2 row-cols-1">
    <div class="col border-2 border-end">
      <h1 class="font-weight-bold lh-1 mb-3">FizzBuzz</h1>
      <h4 class="lead">
        This application will consider the two numbers entered and for each number between 1 and 100. It will print FIZZ for th numbers divisible by the first number. BUZZ will be printed for the numbers divisible by the second number. FIZZBUZZ for the numbers divisible by both and simply print the number if it is not divisible by either.
      </h4>


      <h2 class="mt-5 border-2 border-bottom">Instructions</h2>
      <p>Enter 2 numbers. The first number will be used to evaluate FIZZ. The second number will be used to evaluate BUZZ. FIZZBUZZ wil be determined based on the combination of the two numbers. </p>
    </div>
    <div class="col">
      <div>
        <h5>Enter  numbers</h5>
        @*form goes here*@
        <form asp-controller="Home" asp-action="FBPage" method="post">
          <div class="form-group">
            <label asp-for="FizzValue">Fizz Value</label>
            <input type="number" asp-for="FizzValue" class="form-control" placeholder="Enter Fizz Value" aria-label="Enter Fizz Value" value="@Model.FizzValue" />
          </div>
          <div class="form-group">
            <label asp-for="BuzzValue">Buzz Value</label>
            <input type="number" asp-for="BuzzValue" class="form-control" placeholder="Enter Buzz Value" aria-label="Enter Buzz Value" value="@Model.BuzzValue" />
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        <h2 class="mt-5 border-bottom border-2">Results</h2>
        <div class="table-responsive">
          @*table goes here*@
          @if (@Model.Result.Count > 0)
          {
            <table class="table-striped table-hover table table-dark">
              <thead>
                <tr><th colspan="5">FizzBuss Results</th></tr>
              </thead>
              @for (int i = 0; i < Model.Result.Count(); i += 5)
              {
                <tr><td> @Model.Result[i]</td> <td> @Model.Result[i+1]</td><td> @Model.Result[i+2]</td><td> @Model.Result[i+3]</td><td> @Model.Result[i+4]</td></tr>
              }

            </table>
          }
        </div>
      </div>
    </div>
  </div>
</div>
